1 body {
color:purple;
background: black;
margin: 0px
}

header{
    border-bottom: solid 2px rgb(128,0,128);
    padding: 20px;
    font-size: 32px;
    color:rgb(128,0,128);
}

section{
  background: rgb(255,192,203);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content:center;
}

div{
  margin-right: 20px;
}